h1 {
    color: aqua;
    background-color: black;
    font-size: larger;
    margin-bottom: 0cap;
}

div {
    color: brown;
}

.marrom {
    color: blue;
    border: 0cqmin;
    font-size: xx-large;
    vertical-align: auto;
}
.ninja {
    color: lawngreen;
    background-color: rgb(134, 131, 128);
    background-position: 0cqb;
    column-count: 4;
}

form {
    color: cyan;
    background-color: rgb(134, 131, 128);
    text-align: center;
}