h1 {
    color: aqua;
    background-color: black;
    font-size: larger;
    margin-bottom: 0cap;
}

div {
    color: brown;
}

.marrom {
    color: blue;
    border: 0cqmin;
    font-size: xx-large;
    vertical-align: auto;
}